cmake-build-*/
.cmake/
.qt/
.qtcreator/
build/
out/
.vscode/
CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
install_manifest.txt
build.ninja
compile_commands.json
.env
client/CMakeLists.txt.qtds
.idea/
*.user

.DS_Store
